@use "sass:map";
$breakpoints: (
  "xs": 0,
  "sm": 400px,
  "md": 700px,
  "lg": 900px,
  "xl": 1200px,
);

@mixin xs() {
  @media screen and (min-width: map.get($breakpoints,"xs")) {
    @content;
  }
}
@mixin sm() {
  @media screen and (min-width: map.get($breakpoints,"sm")) {
    @content;
  }
}
@mixin md() {
  @media screen and (min-width: map.get($breakpoints,"md")) {
    @content;
  }
}
@mixin lg() {
  @media screen and (min-width: map.get($breakpoints,"lg")) {
    @content;
  }
}
@mixin xl() {
  @media screen and (min-width: map.get($breakpoints,"xl")) {
    @content;
  }
}

@mixin breackpoint($bp: 0) {
  @media screen and (min-width: $bp) {
    @content;
  }
}
