@use "sass:color";
@use "variables";
@mixin btn($bg) {
  padding: variables.$base-padding variables.$base-padding * 2;
  margin: variables.$base-margin;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: variables.$base-border-radius;
  background-color: $bg;
}
@each $key, $val in variables.$colors {
  .btn-#{$key} {
    @include btn($val);
    &:hover {
      background-color: color.scale($val, $lightness: 30%);
    }
  }
  .btn-outlined-#{$key} {
    @include btn(white);
    border: variables.$base-border-thickness solid $val;

    &:hover {
      background-color: $val;
    }
  }
  .btn-comp-#{$key} {
    @include btn($val);
    color: comp($val);
    &:hover {
      background-color: comp($val);
      color: $val;
    }
  }
}
