@use "sass:map";
@use "variables";

@use "sass:math";

.trial {
  color: map.get(variables.$colors, "Pupple");
}
.card {
  display: block;
  padding: variables.$base-padding;
  border: variables.$base-border-thickness solid #ddd;
  box-shadow: variables.$base-box-shadow;

  border-radius: variables.$base-border-radius;

  border-radius: math.div(variables.$base-border-radius, 4);

  .card-title {
    color: variables.$primary;
    font-size: variables.$font-size-lg;
    padding-bottom: variables.$base-padding;
    font-weight: bold;
  }
  .card-body {
    font-size: variables.$base-font-size;
    a {
      text-decoration: underline;
    }
  }
}
