@use "sass:math";
@use "variables";
@use "breakpoints";
$grid-columns: 12;

// base layout classes

.row {
  display: flex;
  flex-flow: row wrap;

  //   display: grid;
  //   grid-template-columns: $grid-columns;
}
//grid gap class
$gap-amount: (
  "0": 0,
  "1": 10px,
  "2": 20px,
  "3": 30px,
);
@each $key, $val in $gap-amount {
  .gap-#{$key} > * {
    padding: $val;
  }
}
// justify classes
$justify: flex-start, flex-end, center, space-between, space-around;
@each $val in $justify {
  .content-#{$val} {
    justify-content: $val;
  }
}
//col classes

@include breakpoints.xs {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-xs {
      flex-grow: 0;
      box-sizing: border-box;

      position: relative;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}
@include breakpoints.sm {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-sm {
      flex-grow: 0;
      box-sizing: border-box;

      position: relative;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}
@include breakpoints.md {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-md {
      flex-grow: 0;
      box-sizing: border-box;

      position: relative;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}
@include breakpoints.lg {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-lg {
      flex-grow: 0;
      box-sizing: border-box;

      position: relative;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}
@include breakpoints.xl {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-xl {
      flex-grow: 0;
      box-sizing: border-box;

      position: relative;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}
